---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Void
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AccessRequest>  <AccessLicenseNumber>FD0391730BAC7F28</AccessLicenseNumber>  <UserId>SuperPedestrian1</UserId>  <Password>84Hamilton</Password></AccessRequest><?xml
        version="1.0"?><VoidShipmentRequest>  <Request>    <RequestAction>Void</RequestAction>  </Request>  <ExpandedVoidShipment>    <ShipmentIdentificationNumber/>    <TrackingNumber>1ZISDE016691676846</TrackingNumber>  </ExpandedVoidShipment></VoidShipmentRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><VoidShipmentResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><Status>
        <StatusType>
        <Code>1</Code>
        <Description>Success</Description>
        </StatusType>
        <StatusCode>
        <Code>1</Code>
        <Description>Voided</Description>
        </StatusCode>
        </Status>
        </VoidShipmentResponse>
  recorded_at: Thu, 23 Mar 2017 01:47:55 GMT
recorded_with: VCR 3.0.1
