---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Track
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AccessRequest>  <AccessLicenseNumber>FD0391730BAC7F28</AccessLicenseNumber>  <UserId>SuperPedestrian1</UserId>  <Password>84Hamilton</Password></AccessRequest><?xml
        version="1.0"?><TrackRequest>  <Request>    <TransactionReference/>    <RequestAction>Track</RequestAction>  </Request>  <TrackingNumber>1Z12345E0291980793</TrackingNumber>  <ShipmentType>    <Code>01</Code>  </ShipmentType></TrackRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <TrackResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><Shipment><ShipmentType><Code>01</Code><Description>Small Package</Description></ShipmentType><Shipper><ShipperNumber>12345E</ShipperNumber></Shipper><ShipTo><Address><AddressLine1>SAMPLE CONSIGNEE</AddressLine1><AddressLine2>1307 PEACHTREE STREET</AddressLine2><City>ANYTOWN</City><StateProvinceCode>GA</StateProvinceCode><PostalCode>30340</PostalCode><CountryCode>US</CountryCode></Address></ShipTo><Service><Code>002</Code><Description>2ND DAY AIR</Description></Service><ReferenceNumber><Code>01</Code><Value>LINE4AND115</Value></ReferenceNumber><ShipmentIdentificationNumber>1Z12345E0291980793</ShipmentIdentificationNumber><PickupDate>20100608</PickupDate><Package><TrackingNumber>1Z12345E0291980793</TrackingNumber><Activity><ActivityLocation><Address><City>ANYTOWN</City><StateProvinceCode>GA</StateProvinceCode><PostalCode>30340</PostalCode><CountryCode>US</CountryCode></Address><Code>ML</Code><Description>BACK DOOR</Description><SignedForByName>HELEN SMITH</SignedForByName></ActivityLocation><Status><StatusType><Code>D</Code><Description>DELIVERED</Description></StatusType><StatusCode><Code>KM</Code></StatusCode></Status><Date>20100610</Date><Time>120000</Time></Activity><Activity><ActivityLocation><Address><CountryCode>US</CountryCode></Address></ActivityLocation><Status><StatusType><Code>M</Code><Description>BILLING INFORMATION RECEIVED. SHIPMENT DATE PENDING.</Description></StatusType><StatusCode><Code>MP</Code></StatusCode></Status><Date>20100608</Date><Time>120000</Time></Activity><PackageWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>5.00</Weight></PackageWeight><ReferenceNumber><Code>01</Code><Value>LINE4AND115</Value></ReferenceNumber><ReferenceNumber><Code>08</Code><Value>LJ67Y5</Value></ReferenceNumber></Package></Shipment></TrackResponse>
  recorded_at: Thu, 23 Mar 2017 16:43:17 GMT
recorded_with: VCR 3.0.1
