---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/AV
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AccessRequest>  <AccessLicenseNumber>FD0391730BAC7F28</AccessLicenseNumber>  <UserId>SuperPedestrian1</UserId>  <Password>84Hamilton</Password></AccessRequest><?xml
        version="1.0"?><AddressValidationRequest>  <Request>    <RequestAction>AV</RequestAction>  </Request>  <Address>    <City>BEVERLY
        HILLS</City>    <StateProvinceCode>CA</StateProvinceCode>    <CountryCode>US</CountryCode>    <PostalCode>90210</PostalCode>  </Address></AddressValidationRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><AddressValidationResult><Rank>1</Rank><Quality>1.0</Quality><Address><City>BEVERLY
        HILLS</City><StateProvinceCode>CA</StateProvinceCode></Address><PostalCodeLowEnd>90210</PostalCodeLowEnd><PostalCodeHighEnd>90210</PostalCodeHighEnd></AddressValidationResult></AddressValidationResponse>
  recorded_at: Tue, 28 Mar 2017 00:39:59 GMT
recorded_with: VCR 3.0.1
